<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gửi và Xác minh OTP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<svg class="login__blob" viewBox="0 0 566 840" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0" mask-type="alpha">
        <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538
            0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393
            591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824
            167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>
    </mask>

    <g mask="url(#mask0)">
        <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538
            0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393
            591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824
            167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>

        <!-- Insert your image (recommended size: 1000 x 1200) -->
        <image class="fp__img" href="/img/bg-mail4.jpg"/>
    </g>
</svg>
<div class="login container grid" id="loginAccessRegister">
    <!--===== LOGIN ACCESS =====-->

    <div class="login__access">
        <a href="javascript:history.back();" class="btn btn-primary rounded-pill mb-3" ><i class="ri-arrow-left-line"></i> Quay về</a>
        <h1 class="login__title">Đổi mật khẩu.</h1>
        <div class="login__area">
            <form method="post" class="login__form">
                <div class="login__content grid">
                    <div class="login__box">
                        <input th:if="${email}" type="email" class="login__input" th:value="${email}" id="email" name="email" placeholder="" required>
                        <input th:unless="${email}" type="email" class="login__input" id="email" name="email" placeholder="" required>
                        <label for="email" class="login__label">Email</label>
                        <button type="submit" class="btn btn-primary rounded-pill">Gửi mã OTP</button>
                    </div>
                    <div th:if="${message}" th:text="${message}" class="text-danger mt-1"></div>
                </div>
            </form>
            <a th:if="${message}" type="submit" class="login__button" th:href="@{http://localhost:8080/forgotPassword/verifyOTP(email=${email})}">Tiếp tục</a>
            <button th:unless="${message}" id="submitButton" class="login__button" disabled>Tiếp tục</button>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
